<div class="container">
    <div class="movie-container">
        <div [style.background]="'linear-gradient(to right, black, transparent 100%), url(https://image.tmdb.org/t/p/original' + selectedMovie?.backdrop_path + ') no-repeat center / cover'"
            style="background-size: cover; background-position: center;">
            <img [src]="'https://image.tmdb.org/t/p/w500' + selectedMovie?.backdrop_path" alt="Movie Background"
                style="visibility: hidden; width: 100%;">
        </div>
        <div class="movie-details">
            <div class="movie-poster">
                <img style="border-radius: 8px;" [src]="'https://image.tmdb.org/t/p/w200' + selectedMovie?.poster_path"
                    alt="Movie Poster">
            </div>
            <div class="movie-info">
                <h1>{{ selectedMovie?.title }}</h1>
                <p>{{ selectedMovie?.overview }}</p>
                <p>Release Date: {{ selectedMovie?.release_date }}</p>
                <p>Popularity: {{ selectedMovie?.popularity }}</p>
                <p>Vote Average: {{ selectedMovie?.vote_average }}</p>
            </div>
        </div>
        <div class="selecting-section">
            <div *ngFor="let movie of movies.slice(currentPosition, currentPosition + 7)"
                (click)="handleSelectedMovie(movie)">
                <img class="selecting-img" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                    alt="Movie Poster">
            </div>
            <div class="move-btns">
                <span class="selecting-arrow" (click)="forward()"
                    *ngIf="currentPosition + 7 < movies.length"><mat-icon>arrow_forward_ios</mat-icon></span>
                <span class="selecting-arrow-back" (click)="backward()"
                    *ngIf="currentPosition > 0"><mat-icon>arrow_back_ios</mat-icon></span>
            </div>
        </div>
    </div>

    <div class="trending-container">
        <div class="head-trending">
            <a class="trend-title">Top Rated</a>
            <a class="view-all">View All <mat-icon class="view-icon">arrow_forward_ios</mat-icon></a>
        </div>
        <div class="trend-box">
            <div *ngFor="let trending of topMovies.slice(navPosition, navPosition + 8); let i = index;"
                (mouseenter)="onTopRatedImageHover(i, trending)">
                <div class="trend-poster">
                    <img class="border-img" [src]="'https://image.tmdb.org/t/p/w200' + trending.poster_path"
                        alt="Movie Poster">
                </div>
                <div *ngIf="isTopRatedHover && hoveredImageIndex === i" class="show-details"
                    (mouseleave)="isTopRatedHover = false">
                    <iframe width="350" height="175" [src]="sanitizeYouTubeUrl(hoveredVideoKey)" frameborder="0"
                        allow="autoplay"></iframe>
                    <div class="trend-info">
                        <div class="title-data">
                            <p>{{ hoveredImageData.release_date }}</p>
                            <p>Popularity: {{ hoveredImageData.popularity }}</p>
                            <p>Vote: {{ hoveredImageData.vote_average }}</p>
                        </div>
                        <p>{{ hoveredImageData.overview }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trend-navigation">
            <span class="arrow-navigation-back" (click)="navigationBack()"><mat-icon>arrow_back_ios</mat-icon></span>
            <span class="arrow-navigation-nxt" (click)="navigationForward()"
            *ngIf="navPosition + 7 < movies.length" ><mat-icon>arrow_forward_ios</mat-icon></span>
        </div>
    </div>

    <div class="trending-container">
        <div class="head-trending">
            <a class="trend-title">Popular Shows</a>
            <a class="view-all">View All <mat-icon class="view-icon">arrow_forward_ios</mat-icon></a>
        </div>
        <div class="trend-box">
            <div *ngFor="let tvShows of popularShows.slice(showPosition, showPosition + 8); let i = index;"
                (mouseenter)="onPopularShowImageHover(i, tvShows)">
                <div class="trend-poster">
                    <img class="border-img" [src]="'https://image.tmdb.org/t/p/w200' + tvShows.poster_path"
                        alt="Movie Poster">
                </div>
                <div *ngIf="isPopularShowHover && hoveredImageIndex === i" class="show-details"
                    (mouseleave)="isPopularShowHover = false">
                    <img class="show-details-img"
                        [src]="'https://image.tmdb.org/t/p/w500' + hoveredImageData.backdrop_path">
                    <div class="tvshowData">
                        <div class="showHeader">
                            <p>Popularity: {{ hoveredImageData.popularity }}</p>
                            <p>Vote: {{ hoveredImageData.vote_average }}</p>
                        </div>
                        <p>{{ hoveredImageData.overview }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trend-navigation">
            <span class="arrow-navigation-back" (click)="tvBack()"><mat-icon>arrow_back_ios</mat-icon></span>
            <span class="arrow-navigation-nxt" (click)="tvForward()"
            *ngIf="showPosition + 7 < movies.length"><mat-icon>arrow_forward_ios</mat-icon></span>
        </div>
    </div>

    <div class="trending-container">
        <div class="head-trending">
            <a class="trend-title">Upcomming Movies</a>
            <a class="view-all">View All <mat-icon class="view-icon">arrow_forward_ios</mat-icon></a>
        </div>
        <div class="trend-box">
            <div *ngFor="let upcomMovie of upcommingMovie.slice(moviePosition, moviePosition + 8); let i = index;"
                (mouseenter)="onUpcomingMovieImageHover(i, upcomMovie)">
                <div class="trend-poster">
                    <img class="border-img" [src]="'https://image.tmdb.org/t/p/w200' + upcomMovie.poster_path"
                        alt="Movie Poster">
                </div>
                <div *ngIf="isUpcomingMovieHover && hoveredImageIndex === i" class="show-details"
                    (mouseleave)="isUpcomingMovieHover = false">
                    <iframe width="350" height="175" [src]="sanitizeYouTubeUrl(hoveredVideoKey)" frameborder="0"
                        allow="autoplay"></iframe>
                    <div class="trend-info">
                        <div class="title-data">
                            <p>{{ hoveredImageData.release_date }}</p>
                            <p>Popularity: {{ hoveredImageData.popularity }}</p>
                            <p>Vote: {{ hoveredImageData.vote_average }}</p>
                        </div>
                        <p>{{ hoveredImageData.overview }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trend-navigation">
            <span class="arrow-navigation-back" (click)="movieBack()"><mat-icon>arrow_back_ios</mat-icon></span>
            <span class="arrow-navigation-nxt" (click)="movieForward()"
            *ngIf="moviePosition + 7 < movies.length"><mat-icon>arrow_forward_ios</mat-icon></span>
        </div>
    </div>
</div>